@use "reset";
@use "variables" as *;
@use "mixin" as *;
@use "header";
@use "footer";
@use "modules";
@use "common";
@use "drawer";



// 最初に_アンダーバーが入ったファイルはコンパイルされない

.page-wrap{
    display: flex;
    @include mq(sp){
        display: initial;
    }
}

.main-visual{
    background: url(../img/photo01.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: calc(100vw - 160px);
    margin-bottom: 288px;
    @include mq(sp){
        height: 50vh;
        width: 100%;
        margin-bottom: 96px;
    }
}


.products{
    .section-headline{
        text-align: center;
    }

    &-wrap{
        display: flex;
        flex-wrap: wrap;
        margin-top: 54px;
        @include mq(sp){
            margin-top: 32px;
        }
    }
    &-content{
        width: 50%;
        &__img{
            width: 100%;
        }
    }

}

.recommend{
    .section-headline{
        text-align: center;
    }

    &-wrap{
        max-width: 1080px;
        margin: 54px auto 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
// 間の余白を指定できる
        row-gap: 36px;

        @include mq(sp){
            max-width: initial;
            margin: 32px auto 0;
            padding: 0 20px;
            row-gap: 24px;

            .article{
                width: 49%;
            }
        }
    }

    &-content{
        .img-box{
            background-color: $main;
            overflow: hidden;
        }

        &__img{
            height: 200px;
            width: 300px;
            display: inline-block;
            transition: all .8s ease;

            &:hover{
                transform: scale(1.2);
                opacity: 0.6;
            }

            @include mq(sp){
                height: inherit;
                width: 100%;
            }
        }

        &__title{
            font-family: $serif;
            font-weight: bold;
            margin: 8px 0;
        }

        &__price{
            font-family: $serif;
        }
    }

    .btn{
        margin-top: 72px;
        margin-right: auto;
        margin-left: auto;
        @include mq(sp){
            margin-top: 32px;
        }
    }
}

.concept{
    max-width: 1080px;
    margin: 0 auto;

    @include mq(sp){
        max-width: inherit;

    }
    .section-headline{
        @include mq(sp){
            margin-left: 20px;
        }
    }
    &1{
        position: relative;
        height: 450px;
        margin-bottom: 90px;

        @include mq(sp){
            position: inherit;
            height: inherit;
            background-color: $sub;
            margin-top: 32px;
            margin-bottom: 36px;
            margin-right: 20px;
            padding-top: 20px;
            padding-right: 25px;
        }

        &__img{
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            @include mq(sp){
                position: inherit;
                width: 100%;
            }
        }

        &__wrap{
            background-color: $sub;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 360px;
            width: 920px;
            padding: 70px 56px;
            z-index: -1;

            @include mq(sp){
                background-color: initial;
                position: initial;
                bottom: initial;
                left: initial;
                height: initial;
                width: initial;
                padding:initial;
                z-index: initial;
                
                padding: 20px 0 20px 20px;
            }
        }

        &__headline{
            color: $white;
            font-weight: bold;
            margin-bottom: 28px;
            @include mq(sp){
                // WEBフォントのバグで余白がおかしくて他の要素とかぶることがある⇩対処法としてフォントを明記するといい
                font-family:$serif;

                margin-bottom: 20px;

            }
            
            
        }

        &__text{
            font-family: $sans;
            color: $white;
            line-height: 2;
            @include mq(sp){
                line-height: 1.8;
            }
        }
    }


    &2{
        position: relative;
        @include mq(sp){
            position: initial;
            margin-left: 20px;
        }
        &__img{
            width: 50%;
            @include mq(sp){
                width: 100%;
            }
        }
        &-wrap{
            position: absolute;
            top: 50%;
            left: 428px;
            transform: translateY(-50%);

            @include mq(sp){
                position: initial;
                top: initial;
                left: initial;
                transform: initial;
                padding-top: 20px;
                padding-right: 20px;
            }

        }

        &__headline{
            font-weight: bold;
            margin-bottom: 28px;
            @include mq(sp){
                font-family: $serif;
                margin-bottom: 20px;

            }
        }
        &__text{
            font-family: $sans;
            line-height: 2;
            @include mq(sp){
                line-height: 1.8;
            }
        }
    }
}

.news{
    background: url(../img/newsBackground.jpg)center center no-repeat;
    background-size: cover;
    padding: 54px 0;
    @include mq(sp){
        padding: 36px 0;
    }
    .section-headline{
        text-align: center;
    }
    &-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 640px;
        margin: 36px auto 0;
        @include mq(sp){
            display: block;
            max-width: 288px;
            margin: 32px auto 0;
        }
    }
    &-content{
        margin-bottom: 36px;
        @include mq(sp){
            margin-bottom: 24px;
        }
        &__date{
            font-family: $sans;
            font-style: 12px;
            margin-bottom: 8px;
            @include mq(sp){
                font-style: 10px;
                margin-bottom: 4px;
            }
        }
        &__title{
            font-family: $sans;
            margin-bottom: 8px;
            @include mq(sp){
                margin-bottom: 4px;
            }
        }
        &__line{
            background-color: $black;
            height: 1px;
            width: 288px;
        }
    }
    .btn{
        // コンテントのボトムがあるぶん少なめに
        margin-top: 28px;
        margin-right: auto;
        margin-left: auto;
        @include mq(sp){
            margin-top: 32px;
        }
    }
}

.contact{
    max-width: 1080px;
    margin: 0 auto;

        @include mq(sp){
            max-width: initial;
            width: 100%;
            padding: 20px;
        }
    &-wrap{
        height: 468px;
        position: relative;
        @include mq(sp){
            height: initial;
            margin-top: 32px;
        }

        &::after{
            background-color: $sub;
            content: "";
            height: 405px;
            width: calc(((100vw - 160px) / 2) - 63px);
            position: absolute;
            bottom: 0;
            left: calc(50% + 63px);
            z-index: -1;
            @include mq(sp){
                bottom: initial;
                left: initial;
                top: 40px;
                right: 0;
                width: calc(100vw - 80px);
                // ↓画像の比率は４：３で設定してある時の計算・横から１の長さ求めて３かけて縦を出してる
                height: calc(((100vw - 80px) / 4) * 3);
                // aspect-ratio: 4/3;
            }
        }
    }
    &__img{
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        @include mq(sp){
            position: initial;
            width: calc(100% - 40px);
        }
    }

    &-content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include mq(sp){
            position: initial;
            transform: initial;
            margin-top: 72px;
        }
    }
    &__headline{
        font-weight: bold;
        margin-bottom: 28px;
        @include mq(sp){
            font-family: $serif;
            margin-bottom: 20px;
        }
    }
    &__text{
        font-family: $sans;
        line-height: 2;
        @include mq(sp){
            line-height: 1.8;
        }
    }
    .btn{
        position: absolute;
        bottom: 0;
        left: 0;
        @include mq(sp){
            // イニシャルにするとおかしくなる、疑似要素がついてるからセットで使うならrelative
            position: relative;
            bottom: initial;
            left: initial;
            margin-top: 32px;
        }
    }

}

// モディファイや

.section{
    margin-bottom: 288px;
    @include mq(sp){
        margin-bottom: 96px;
    }
}
